{% extends 'base.html' %}

{% block meta %}
{% comment %} page refresh {% endcomment %}
<meta http-equiv="refresh" content="10">
{% endblock meta %}

{% block title %}
Results
{% endblock title %}

{% block content %}
<h1 class="my-4">Results</h1>

{% for job_name, dna_string, dna_result, state, progress, task_id in info %}
<!-- Blog Post -->
<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title">Job Name: {{ job_name }}</h2>
    <p class="card-text">DNA Sequence: {{ dna_string }}</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}"
        aria-valuemin="0" aria-valuemax="100">{{ state }}</div>
    </div>
    <p class="cart-text">{{ dna_result }}</p>
  </div>
  <div class="card-footer text-muted">
    <a class="btn btn-warning btn-sm mt-1 mb-1" href="{% url 'dnaStrings:cancel_job' task_id=task_id %}">Cancel</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'dnaStrings:delete_job' task_id=task_id %}">Delete</a>
  </div>
</div>
{% endfor %}
{% endblock content %}
